*{
    margin : 0;
    padding:0;
    box-sizing:border-box;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:25px,12.5%;
    background: yellowgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;


}