*{
    margin : 0;
    padding:0;
    box-sizing:border-box;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:25px,12.5%;
    background: yellowgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;


}

.navbar a {
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;

}