/* articles.css */

.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px auto;
}

.article { 
    padding: 10px;
   border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
    margin-bottom: 20px; /* Adjust spacing between articles */
}

.article-image img {
    width: 100%; /* Ensures the image fills its container */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.article-details {
    padding: 10px;
}

.article-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.article-description {
    margin-top: 5px;
    font-size: 14px;
}

.author-info {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

.author-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-name {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.publish-date {
    margin: 0;
    font-size: 12px;
    color: #888;
}

@media screen and (max-width: 768px) {
    .articles-container {
        flex-direction: column;
        margin-top: 20px auto;
    }
    .article{
        width: 95%;
        margin:10px auto;
    }
}