*{
    overflow-x: hidden; /* Prevents horizontal scrolling */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.main-content {
    overflow-x: hidden; /* Hides any content that exceeds the viewport width */
}

#scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 70px;
    height: 70px;
    background-color: purple;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    z-index: 999;
    text-decoration: none;
    transition: opacity 0.3s;
}
  
#scrollToTopButton i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2vw;
}
  
#scrollToTopButton:hover {
    opacity: 0.7;
}