*{
    overflow-x: hidden; /* Prevents horizontal scrolling */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.main-content {
    overflow-x: hidden; /* Hides any content that exceeds the viewport width */
}
