.box{
    margin: 20px 0 0 20px;
    background-color: cyan;
    height: 80px;
    width: 50%;
    border-radius: 10px;
    transition: 0.5s ease-out;
}

.row{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.nav{
    margin-bottom: 15px;
    width: 100%;
}

span{
    padding-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row > a{
    text-decoration: none;
    color: #0A9f89;
}
.row > a:hover{
    color: #fff;
}

.box:hover{
    background-color: magenta;
}


.login{
    margin: auto;
    width: 300px;
    height: auto;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.form-item{
    padding: 0 10px 10px 10px;  
}

.form-body{
    padding: 40px 0 40px 5px;
    justify-content: space-between;
    margin: 20px;
    
}

.form-item > input{
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 5px;
    border-color: lightblue;
}
.form-item > input[type="text"], input[type="password"]{
    color: cadetblue;
}
.form-item > input:hover{
    border-color: lightseagreen;
}

.button{
    padding: 10px 40px 10px 40px; 
    border-radius: 10px;
    transition: 0.5s ease-out;
    background-color: lightblue;
    cursor: pointer;
}
.button:hover{
    background-color: cadetblue;
    color: #fff;
    font-weight: bold;
}

.login-heading{
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.reset{
    font-size: 12px;
    font-style: italic;
}
.reset a{
    text-decoration: none;
    color: #02BD90;
    
}

p{
    color: red;
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
}