body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }
  
  a {
    color: #149ddd;
    text-decoration: none;
  }
  
  a:hover {
    color: #37b3ed;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background: #f5f8fd;
  }
  
  .section-title {
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about .content h3 {
    font-weight: 700;
    font-size: 4rem;
    color: #ee9313;
  }
  
  .update-button{
    padding: 9px;
    display: flex;
    background-color: #ee9313;
    box-shadow: inset;
    width: 100px;
    border-radius: 10px;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
  }

  .update-button:hover{
    background-color: #f9b85c;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .img-fluid {
    margin-left: 25px;
    width: auto; 
    border-radius: 90dvb;
    box-shadow: inset;
  }

  .col-lg-8 {
    align-content: end;
  }

  .row {
    display: flex;
  }

  .user-info {
    margin-left: 50px;
  }

  #info {
    margin-left: 75px;
  }

  .form-container{
   font-size: 2rem; 
   display: flexbox;
   justify-content: center;
   align-content: center;
  }
    
  .input{
    border-radius: 10px;
    padding: 8px;
    font-size: medium;
  }

  .art{
    font-size: 3rem;
    color: #ee9313;
  }