.unsplash {
    border-radius: 10px;
    margin: 20px;
}

.unsplash-image {
    display: flex;
    width: 1481px;
    height: 150px;
    border-radius: 10px;
    background-image: url('../public/images/unsplash.png');
    background-size: contain;
    background-position: center;    
}
